@{
    Layout = "~/Views/Shared/_LayoutAdminApp.cshtml";
}
<div class="container-fluid">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="javascript:void(0)">comunicados</a></li>

        </ol>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" style="text-transform: unset">Lista de comunicados</h4>
                </div>

                <div class="card-body">
                    <div class="basic-form">
                        <form>

                            <div class="row">
                                <div class="mb-3 col-md-2">
                                    <label class="form-label">Id</label>
                                    <input name="id" id="id" type="text" class="form-control" placeholder="Id" disabled>
                                </div>


                                <div class="mb-3 col-md-10">
                                    <label class="form-label">Título</label>
                                    <input name="titulo" id="titulo" type="text" class="form-control" placeholder="Título comunicado" required>
                                </div>
                                <div class="mb-3 col-md-12">
                                    <label class="form-label">Mensaje</label>
                                    <textarea name="descripcion" id="descripcion" class="form-control" placeholder="Descripción comunicado" required></textarea>
                                </div>

                            </div>

                            <div class="mb-3">

                            </div>
                            <button class="btn btn-primary" onclick="clearRegister()">Nuevo</button>  <button class="btn btn-success" onclick="guardarRegister()">Guardar</button>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-responsive-md"  id="lista" name="lista">
                        <thead>
                            <tr>
                                <th style="width:80px;"><strong>ID</strong></th>
                                <th><strong>Título</strong></th>
                                <th><strong>Descripción</strong></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.listComunicados)
                            {
                            <tr>
                                <td><strong>@item.id</strong></td>
                                <td>@item.titulo</td>
                                <td>@item.descripcion</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-success light sharp" data-bs-toggle="dropdown">
                                            <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><circle fill="#000000" cx="5" cy="12" r="2" /><circle fill="#000000" cx="12" cy="12" r="2" /><circle fill="#000000" cx="19" cy="12" r="2" /></g></svg>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" onclick="buscarComunicado(@item.id,0)">Editar</a>
                                            <a class="dropdown-item" onclick="eliminarComunicado(@item.id)">Eliminar</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<script>



   function buscarComunicado(id,tipo) {

                    $.post("@Url.Action("ConsultarComunicado","Comunicados")", { id: id,tipo:tipo}, function (datas) {

                        if (datas.id == null) {
                            alert("El Registro No Existe")

                        }  else {
                            clearRegister();

                            $("#id").val(datas.id);
                            $("#descripcion").val(datas.descripcion);
                            $("#titulo").val(datas.titulo);
                        }

                        });
    };

    function guardarRegister() {
       

       
        var comunicado = JSON.stringify(
        {
               'id': $('#id').val(),
                'descripcion': $('#descripcion').val(),
                'titulo': $('#titulo').val(),
                'tipo': 1,
               'visible':1
        });
          $.ajax({
              url: '/Comunicados/SaveComunicado',
              type: "post",
              contentType: "application/json",
              dataType: "json",
              traditional: true,
              data: comunicado,
              success: function (results) {
                  alert(results);
                  window.location.href = '/Comunicados';
              }
          })


    };

   function eliminarComunicado(id) {



                    $.post("@Url.Action("EliminarComunicado","Comunicados")", { id: id}, function (datas) {

                        alert(datas);


                         window.location.href = '/Comunicados';


                        });
    };


    function clearRegister() {
        $("#id").val("");
        $("#descripcion").val("");
    }

</script>