<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164187247-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-164187247-1');
        </script>*@
    <!-- Start of  Zendesk Widget script -->
    @*<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=a162820b-1855-4026-bb9f-f9bb1d3abe92"></script>*@
    <!-- End of  Zendesk Widget script -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .u-userLauncherColor {
            box-shadow: none;
            background-color: #fff000 !important;
            color: #6F6910 !important;
            fill: #6F6910 !important;
        }
    </style>
</head>
<body class="login-body">

    <div class="login-content">
        <img class="login-content-header" src="@Url.Content("~/Content/img/logo-white.png")" alt="" width="300">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <style>
        .u-userLauncherColor:not([disabled]) {
            box-shadow: none;
            background-color: #fff000 !important;
            color: #6F6910 !important;
            fill: #6F6910 !important;
        }

            .u-userLauncherColor:not([disabled]) svg {
                color: #FFFFFF;
                fill: #FFFFFF;
            }

                .u-userLauncherColor:not([disabled]) svg path {
                    fill: #FFFFFF;
                }

            .u-userLauncherColor:not([disabled]):focus {
                box-shadow: inset 0 0 0 0.21428571428571427rem rgba(255, 255, 255, 0.3) !important;
            }
    </style>
</body>

</html>
