@{
    Layout = "~/Views/Shared/_LayoutFormadorApp.cshtml";
}
<div class="container-fluid">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Mis proyectos</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Agregar nuevo proyecto</a></li>
        </ol>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" style="text-transform: unset">Lista de mis proyectos</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive-md"  id="lista" name="lista">
                            <thead>
                                <tr>
                                    <th style="width:80px;"><strong>ID</strong></th>
                                    <th style="width:200%;"><strong>Nombre</strong></th>
                                    <th ><strong>Requeridos</strong></th>
                                    <th><strong>Aplicados</strong></th>
                                    <th><strong>Aceptados</strong></th>
                                    <th><strong>Estatus</strong></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.listProyectos)
                                {
                                <tr>
                                    <td><strong>@item.id</strong></td>
                                    <td>@item.nombre</td>
                                    <td>@item.alumnosRequeridos</td>
                                    <td>@item.alumnosRequeridos</td>
                                    <td>@item.alumnosRequeridos</td>
                                    <td>@item.estatus</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-success light sharp" data-bs-toggle="dropdown">
                                                <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><circle fill="#000000" cx="5" cy="12" r="2" /><circle fill="#000000" cx="12" cy="12" r="2" /><circle fill="#000000" cx="19" cy="12" r="2" /></g></svg>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" onclick="OfertarProyecto(@item.id)">Ofertar</a>
                                                <a class="dropdown-item" href="@Url.Action("Agregar","Proyectos" , new {id= item.id})">Editar</a>
                                                <a class="dropdown-item" onclick="CancelarProyecto(@item.id)">Cancelar</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>


   function buscarProyecto(id) {



                    $.post("@Url.Action("ConsultarProyecto", "Proyectos")", { id: id}, function (datas) {

                    if (datas.Id == null) {
                    alert("El Registro No Existe")

                    }  else {
                    clearRegister();

                    $("#id").val(datas.Id);
                    $("#descripcion").val(datas.Descripcion);
                    $("#nombre").val(datas.Id);
                    $("#departamento").val(datas.Descripcion);
                    $("#estatus").val(datas.Id);

                    }

                    });
        };

   function OfertarProyecto(id) {



                    $.post("@Url.Action("ActualizarProyecto", "Proyectos")", { id: id,estatus:'En Oferta'}, function (datas) {


                    alert("El proyecto ha sido ofertado")

                          window.location.href = '/Proyectos';

                    });
        };

    function   CancelarProyecto(id) {



                    $.post("@Url.Action("ActualizarProyecto", "Proyectos")", { id: id,estatus:'Cancelado'}, function (datas) {

                    alert("El proyecto ha sido Cancelado")

                        window.location.href = '/Proyectos';

                    });
        };
</script>